/*  Sand Dollar #e5ddc8
    Teal #01949a
    Navy Blue #004369
    Red
 
    Tonys Pink #db1f48
    Cowboy #e6a88b
    Sanguine Brown #502a29
    Flamingo #8b423a
     
    Stark White #e6d8c1
    Zeus #2a231c
    Driftwood #ab844d
    Mule Fawn #845a29 */


/* GLOBAL STYLES 
-------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 18px;
}

body {
    background: #fdfbfb;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Links 
-------------------------*/
a {
    color: #ff567b;
    text-decoration: none;
}

a:hover {
    color: #ff567b;
    font-weight: 700;
}

footer a {
    color: #e4bfbf;
}

footer a:hover {
    color: #ff567b;
}

/* HOMEPAGE 
--------------------------*/
.home {
    background: url(../images/pink-background-5200.png) no-repeat bottom / cover;
}

.home .content-wrapper {
    background: rgb(255 255 255 / 0.9);
}

.content-wrapper, .resume-section{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 30px; 
    padding-right: 30px;
    max-width: 950px;
}

/* `
--------------------------*/

.resume header::before {
    background: url(../images/pink-background-5200.png) no-repeat bottom / cover;
    content: "";
    display: block;
    height: 264px;
}

.resume header {
    display: flow-root;
}

.resume-header img {
    width: 200px;
    float: left;
    margin-right: 40px;
    margin-left: 30px;
}

/* Profile
--------------------------*/

/* Work experience
--------------------------*/

/* Education
--------------------------*/

/* Courses and certificates
--------------------------*/

/* FOOTER 
--------------------------*/
footer {
    background: #2a231c;
    color: #fdfbfb;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
}

.socials img {
    width: 34px;
}