/* GLOBAL STYLES 
-------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: justify;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #fdfbfb;
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    margin: 0;
}
h1 {
    font-size: 7rem;
    line-height: 0.85;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}

nav {
    display: flex;
    justify-content: center;
}
nav li {
    font-size: 2.1rem;
    display: inline-block;
    list-style: none;
    padding: 0 3rem;
    margin: 0;
}

/* Links 
-------------------------*/
a {
    color: #ff567b;
    text-decoration: none;
}

a:hover {
    color: #ff567b;
    font-weight: 700;
}

footer a {
    color: #e4bfbf;
}

footer a:hover {
    color: #ff567b;
}

.btn{
    background: #ff567b;
    border:#f91748;
    color: #fdfbfb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 4px;
}

.btn:hover {
    color:#2a231c;
}

.content-wrapper {
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 900px;
}

/* HOMEPAGE 
--------------------------*/
.home {
    background: url(../images/pink-background-5200.png) no-repeat bottom / cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}
.content-background {
    background: rgb(255 255 255 / 0.9);
    padding: 20px;
}

@media screen and (max-width: 650px) {
    .home .content-wrapper {
        padding: 30px;
    }

    .content-background {
        padding: 30px;
    }
    
}
/* RESUME 
--------------------------*/

.resume header::before {
    background: url(../images/pink-background-5200.png) no-repeat bottom / cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 3px dashed #ff567b;
}

.download-link-en {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}

.download-link-pl {
    position: fixed;
    top: 45px;
    left: 5px;
    font-size: 1.5rem;
}


@media screen and (min-width: 360px) and (max-width: 860px) {
    p, .btn, a {
        font-size: 2rem;
    }

    .download-link-en, .download-link-pl{
        position: absolute;
    }

    h1 {
        font-size: 5rem;
        text-align: center;
        line-height: 1.2;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 30px;
        
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav li {
        font-size: 20px;
        margin: 0;
    }

}
 
@media screen and (max-width: 500px) {
    .resume header::before {
        height: 200px;
    }

    p, .btn, a {
        font-size: 1.75rem;
    }

    h1 {
        font-size: 3.4rem;
        text-align: center;
        line-height: 1.2;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 30px;
        
    }
    h3 {
        font-size: 1.9rem;
        font-weight: 600;
    }

    nav li {
        font-size: 15px;
        margin: 0;
    }
    
}

@media screen and (min-width: 859px) and (max-width: 1400px) {
    .profile-item {
        display: grid;
        grid-template-columns: auto 1fr; 
        gap: 20px;
      }
    
    .profile-item img {
        margin-top: 16rem;
        width: auto; 
        height: auto;
      }
    
    p, .btn, a {
        font-size: 1.75rem;
    }

    .resume header::before {
        height: 200px;
    }

    h1 {
        font-size: 7rem;
        text-align: center;
        line-height: 1.2;
    }
    h2 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 30px;
        
    }
    h3 {
        font-size: 2.7rem;
        font-weight: 600;
    }

    nav li {
        font-size: 25px;
        margin: 0;
    } 
}

 

/* Profile
--------------------------*/
.profile-item {
    margin: 30px 0;
}

.profile-item img {
    width: 300px;

}
@media screen and (min-width: 860px) {
    .profil-item {
        display: flow-root;
    }

    .profil-item img {
        float: left;
        margin-right: 20px;
    } 
}

@media screen and (min-width: 650px) and (max-width: 859px) {
    
    .profil-item img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .profile-item img {
        width: 100%;
    }
}

/* Projects
--------------------------*/
.project-item {
    margin: 30px 0;
}

.project-item img {
    width: 300px;

}
@media screen and (min-width: 860px) {
    .project-item {
        display: flow-root;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    } 
}

@media screen and (min-width: 650px) and (max-width: 859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Work experience
--------------------------*/
.work-item {
    margin: 30px 0;
}

.work-details p {
    margin: 0;
    font-style: italic;
}

@media  screen and (min-width: 860px) {
    .work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
    }

    .work-summary.p:first-child {
        margin-top: 0;
    }
}

/* Education
--------------------------*/
table {
    border-collapse: collapse;
    border: 2px solid #2a231c;
    margin-top: 2.5rem;
}

th, td {
    border: 1px solid #2a231c;
    padding: 8px 10px;
}

caption {
    padding: 0 0 8px 8px;
}

.education-item {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}

div:has(> blockquote) {
    background-color: #efdee242;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  blockquote p::before {
    content: "\201C";
  }
  
  blockquote p::after {
    content: "\201D";
  }
  
  blockquote + p {
    text-align: right;
  }

/* Courses and certificates
--------------------------*/
.certificate-item {
    margin: 30px 0;
}

.certificate-item img {
    width: 300px;

}
@media screen and (min-width: 860px) {
    .certificate-item {
        display: flow-root;
    }

    .certificate-item img {
        float: left;
        margin-right: 20px;
    } 
}

@media screen and (min-width: 650px) and (max-width: 859px) {

    .certificate-item img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* FOOTER 
--------------------------*/
footer {
    background: #2a231c;
    color: #fdfbfb;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width: 860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    } 
}

@media screen and (max-width: 859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}