/*  Sand Dollar #e5ddc8
    Teal #01949a
    Navy Blue #004369
    Red
 
    Tonys Pink #db1f48
    Cowboy #e6a88b
    Sanguine Brown #502a29
    Flamingo #8b423a
     
    Stark White #e6d8c1
    Zeus #2a231c
    Driftwood #ab844d
    Mule Fawn #845a29 */


/* GLOBAL STYLES 
-------------------------*/
html {
    box-sizing: content-box;
    font-size: 62.5%;
    text-align: justify;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #fdfbfb;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
}

h1, h2 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 1.5rem;
    padding: 1rem;
}
h1 {
    font-size: 5rem;
    line-height: 0.85;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.4rem;
}

nav {
    display: flex;
    justify-content: center;
}
nav li {
    font-size: 2.1rem;
    display: inline-block;
    list-style: none;
    padding: 0 3rem;
    margin: 0;
}

/* Links 
-------------------------*/
a {
    color: #ff567b;
    text-decoration: none;
}

a:hover {
    color: #ff567b;
    font-weight: 600;
}

footer a {
    color: #e4bfbf;
}

footer a:hover {
    color: #ff567b;
}

/* HOMEPAGE 
--------------------------*/
.home {
    background: url(../images/pink-background-5200.png) no-repeat bottom / cover;
    display: flex;
    flex-direction: column;
}
.content-background {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-wrapper, .resume-section{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 30px; 
    padding-right: 30px;
}

.content-wrapper {
    max-width: 960px;
}

/* 
--------------------------*/

.resume header::before {
    background: url(../images/pink-background-5200.png) no-repeat bottom / cover;
    content: "";
    display: block;
    height: 30rem;
}

.resume header {
    display: flow-root;
}
.resume-section {
    margin-bottom: 3rem;
    max-width: 1000px;
}
.resume-section h2 {
    border-bottom: 3px dashed #ff567b;
}

.resume-section p {
    margin: 0;
}

hgroup {
    text-align: center;
}

.resume-section {
    margin-bottom: 30px;
}
.resume-section h2 {
    border-bottom: 3px dashed #ff567b;
}


/* Profile
--------------------------*/
.profile-img {
    min-width: 300px;
    height: auto;
    float: left;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-left: -3rem;
}

.side-p {
    margin-left: 13rem;
    margin-bottom: 3rem;
}

/* Work experience
--------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 20px;
}

.work-details  h3{
    line-height: 3rem;
}

.work-details p {
    line-height: 3rem;
    font-style: italic;
}

.work-summary {
    margin-top: 4rem;
}

/* Education
--------------------------*/
table {
    border-collapse: collapse;
    border: 2px solid #2a231c;
    margin-top: 2.5rem;
}

th, td {
    border: 1px solid #2a231c;
    padding: 8px 10px;
}

caption {
    padding: 0 0 8px 8px;
}


/* Courses and certificates
--------------------------*/

/* FOOTER 
--------------------------*/
footer {
    background: #2a231c;
    color: #fdfbfb;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 34px;
}

.socials img:hover {
    opacity: 0.5;
}